.container_landing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-right: 1em;
}

@media screen and (max-width: 1024px) {
  .container_landing {
    grid-template-columns: 1fr;
  }
}